<h1>Listing investments</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Portfolio</th>
    <th>Qty</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @investments.each do |investment| %>
  <tr>
    <td><%= investment.company.symbol %></td>
    <td><%= investment.portfolio.description%></td>
    <td><%= investment.qty %></td>
    <td><%= investment.cost %></td>
    <td><%= link_to 'Show', investment %></td>
    <td><%= link_to 'Edit', edit_investment_path(investment) %></td>
    <td><%= link_to 'Destroy', investment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Investment', new_investment_path %>
